asgiref
attrs
Django
django-cors-headers
django-filter
djangorestframework
drf-nested-routers
drf-spectacular
inflection
jsonschema
jsonschema-specifications
Markdown
mysqlclient
PyMySQL
pytz
PyYAML
referencing
gunicorn
sqlparse
tzdata
uritemplate
redis
requests
djangorestframework-simplejwt
attrs